
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 3rem;
}


@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

body {
  background-color: #f3f4f6;
}
